// ----------------------------------------------------------------------
// Layout Breakpoints
// ----------------------------------------------------------------------
$maxWidth: 1280;
// ----------------------------------------------------------------------
// Font Sizes
// ----------------------------------------------------------------------
$regularSize: 12;
// ----------------------------------------------------------------------
// Colors
// ----------------------------------------------------------------------
$pink: #d03656;
$white: #fff;
$black: #222222;
$grey: #999999;
$purple:#8262b5;
$background: #f5f4ec;
$main:#FE5032;
// ----------------------------------------------------------------------
// Font Families
// ----------------------------------------------------------------------
$heebo:'Heebo',
sans-serif;
$web:'Titillium Web',
sans-serif;
// ----------------------------------------------------------------------
// Grid
// ----------------------------------------------------------------------
$grid-columns: 12;