.counter {
    padding: 2rem 0;
    text-align: center;
    .count {
        position: relative;
        font-family: $heebo;
        font-size: 5rem;
        line-height: 5rem;
        color: $main;
        font-weight: 700;
        &::after {
            content: '+';
            font-size: 3rem;
            color: black;
            right: 0;
        }
    }
    .count-text {
        font-weight: 500;
        font-size: 20px;
        line-height: 26px;
        color: #1c1d3e;
        font-family: $heebo;
        text-transform: capitalize;
    }
}