.services {
    position: relative;
    .focus {
        background-image: url(../img/03.png);
        background-repeat: no-repeat;
        align-items: center;
        justify-content: center;
        margin-top: -7rem;
        @include breakpoint(992) {
            margin-top: -5rem;
        }
    }
    &__img {
        width: 50%;
        img {
            display: block;
            width: 100%;
        }
    }
    h3 {
        text-align: center;
        font-family: $web;
        font-size: 2.8rem;
        line-height: 4.8rem;
        font-weight: 400;
        color: #1c1d3e;
        text-transform: capitalize;
        margin-bottom: 3rem;
        @include breakpoint(992) {
            font-size: 1.8rem;
        }
        span {
            color: $main;
        }
    }
    .card {
        margin: 1rem;
        padding: 6rem 3rem;
        position: relative;
        text-align: center;
        overflow: hidden;
        font-family: $web;
        &-body {
            &-logo {
                img {
                    display: block;
                    width: 100%;
                }
            }
            h5 {
                font-size: 20px;
                font-weight: 700;
                line-height: 26px;
                padding: 1rem 0;
                text-transform: capitalize;
            }
            p {
                font-size: 15px;
                font-weight: 400;
                line-height: 26px;
            }
        }
    }
    .card::before {
        content: "";
        @include center(absolute);
        z-index: -2;
        width: 0%;
        height: 0%;
        background: linear-gradient(180deg, rgba(255, 81, 47, 1) 0%, rgba(240, 152, 25, 1) 80%);
        transition: 1s;
    }
    .card::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-image: url(../img/04.png);
        opacity: 0;
        background-position: fixed;
        background-repeat: no-repeat;
        transition: 0.3s;
        animation: zoom;
        animation-duration: 3s;
        animation-iteration-count: infinite;
    }
    .card:hover {
        border-radius: 7px;
        &::before {
            width: 100%;
            height: 100%;
        }
        h5,
        p {
            color: white;
        }
        &::after {
            opacity: 0.5;
        }
    }
}

@keyframes zoom {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}